nav {
    height: 73px;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: rgba(29, 33, 35, 0);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 96px;
    right: 59px;
    z-index: 2;
}

.hamburger-container {
    display: none;
}

.searchbar {
    display: flex;
    align-items: center;

    svg {
        margin-left: 27px;
    }

    input {
        margin-left: 22px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        height: 18px;
        color: rgba(255, 255, 255, 0.25);
        background-color: rgba(29, 33, 35, 0);
        border: none;

        &::placeholder {
            color: rgba(255, 255, 255, 0.25);
        }

        &:focus {
            outline: none;
        }
    }
}

.search-header {
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;

    button {
        position: absolute;
        right: 0;
        cursor: pointer;
        height: 30px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
        color: #EFEEE0;
        font-size: 16px;
        font-weight: 400;
    }
}

.search-page {
    width: 92vw;
    height: calc(100vh - 125px - 73px);
    background-color: rgba(29, 33, 35, 1);
    position: absolute;
    color: #EFEEE0;
    top: 80px;
    overflow: auto;

}

.search-container {
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width:576px) {

    nav {
        left: 0;
        right: 0;
        padding: 0px 23px;
        display: flex;
        justify-content: space-between;

        .hamburger-container {
            display: flex;
        }

        img {
            display: block;
            width: 34px;
            height: 34px;
            margin-left: 24px;
        }

        button {
            display: block;
            background-color: rgba(29, 33, 35, 0);
            border: none;
            cursor: pointer;
        }
    }

    .searchbar {

        svg {
            width: 30px;
            height: 30px;
        }

        input {
            display: none;
        }
    }
}