.welcome {
    width: 100vw;
    height: 100vh;
    background-color: rgb(29, 33, 35);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        z-index: 3;
    }
}

.motion {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    position: fixed;
    z-index: 3;
}